<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Thank you <%= name %></h1>
    <p>Hare Krishna <%= name %> your message was recieved</p>
    <!-- <ul>
        <li><b>Email: </b><%= email %></li>
        <li><b>Phone No: </b><%= phone %></li>
        <li><b>Message: </b><%= message %></li>
    </ul> -->
    <a href="/">Go back</a>
</body>
</html>